@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
   
    width:100%;
    
    margin:0 auto;
    padding:1.5rem;
}


/* @layer base{
    .container{
        @apply p-[1.5rem] max-w-[120rem] mx-auto;
        width:100%;
        max-width:140rem;
        margin:0 auto;
        padding:1.5rem;
    }
} */

@layer components{
    .toggle__menu span{
        width: 2rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 5rem;
    }
    .toggle__menu span:nth-child(2){
        margin: .2rem 0;

    }
    .header__nav ul{
        @apply absolute bg-dark right-0 top-0 w-0 h-[100vh] overflow-hidden p-0;
    }
    .header__nav ul.open{
        @apply  w-[85%]  p-[2rem];
    }

}