@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
   
    width:100%;
    
    margin:0 auto;
    padding:1.5rem;
}


/* @layer base{
    .container{
        @apply p-[1.5rem] max-w-[120rem] mx-auto;
        width:100%;
        max-width:140rem;
        margin:0 auto;
        padding:1.5rem;
    }
} */

@layer components{
    .toggle__menu span{
        width: 2rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 5rem;
        transition:.5s ease;
    }
    .toggle__menu span:nth-child(2){
        margin: .2rem 0;

    }
    .toggle__menu.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[225deg] ease-out duration-[.5s];
    }
    .toggle__menu.open span:nth-child(2){
        @apply opacity-0;
    }
    .toggle__menu.open span:last-child{
        @apply translate-x-0 translate-y-[-4px] rotate-[-225deg] ease-out duration-[.5s];
    }

    .header__nav ul{
        @apply absolute bg-dark right-0 top-0 w-0 h-[100vh] overflow-hidden p-0 z-[999] 
        lg:static lg:w-full lg:h-auto ;
    }
    .header__nav ul li:not(:first-child),.header__nav ul li:not(:last-child){
        @apply mx-[1rem];
    }
    .header__nav ul.open{
        @apply  w-[85%]  p-[2rem];
    }

    .arjay.show{
        @apply w-full;
    }

    .btn{
        @apply inline-block py-[1rem] px-[10rem] rounded-[2rem] cursor-pointer;
    }

    /* .links__item i.open{
        @apply rotate[-288deg] ease duration-[.5s];
    } */
}